* {
    padding: 0;
    margin: 0;
    font-family: 'Muli', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link:hover {
    color: #fff !important;
}

@media (min-width: 992px)
{
    .navbar-expand-lg .navbar-collapse {
        width: fit-content !important;
    }
}

h1 {
    font-family: 'Muli', sans-serif;
}